
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <p>Slide one</p>
        <img src='http://pre15.deviantart.net/b938/th/pre/f/2013/153/2/2/macro_galaxy_by_zy0rg-d67ifmz.png' />
      </div>
      <div class="swiper-slide">
        <p>Slide two</p>
        <img src='http://img10.deviantart.net/9129/i/2012/267/3/4/rain_of_lights_by_saretta1-d5eo0j1.png' />
      </div>
      <div class="swiper-slide">
        <p>Slide three</p>
        <img src='http://pre11.deviantart.net/6b60/th/pre/f/2012/243/3/7/37cdb8c0966aa1d9f5d9c1f308de7a32-d5d2be8.png' />
      </div>
      <div class="swiper-slide">
        <p>Slide four</p>
        <img src='http://orig08.deviantart.net/e53b/f/2012/136/c/8/fly_by_lucid_light-d4p5awv.jpg' />
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>



  <!-- about section start -->
<section></section>
<div class="container">
    <div class="row">

  
  <div class="containeres">
  <div class="contentLeft">
    <div class="row">
        <div class="imgWrapper">
            <img src="https://images.unsplash.com/photo-1687579521048-217e24217d53?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcxNzl8&ixlib=rb-4.0.3&q=85" alt="">
        </div>
        <div class="imgWrapper">
            <img src="https://images.unsplash.com/photo-1686580546412-80e80519abd7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyMDN8&ixlib=rb-4.0.3&q=85" alt="">
        </div>
        <div class="imgWrapper">
            <img src="https://images.unsplash.com/photo-1688133338995-a394ce7314e4?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyMDN8&ixlib=rb-4.0.3&q=85" alt="">
        </div>
        <div class="imgWrapper">
            <img src="https://images.unsplash.com/photo-1686354715732-7e4685269a25?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2ODg5ODcyNzN8&ixlib=rb-4.0.3&q=85" alt="">
        </div>
    </div>
  </div>
  <div class="contentRight">
    <div class="content">
      <h4>Welcome To</h4>
      <h2>About Us Title...</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex ullam saepe, totam dicta fuga provident. Fuga, labore porro? Dolorem unde, explicabo atque voluptatum laborum harum, quas velit voluptates sit rerum non ullam laboriosam iusto ad sequi hic soluta consequatur quaerat!</p>
    </div>
  </div>
</div>
  </div>
</div>

  <!-- about section End -->