<section class="top_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="location">
<i class="ri-crosshair-2-line"></i>
<p> Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</p>
</div>
            </div>
<div class="col-lg-6">
    <div class="social">
    <i class="ri-facebook-circle-line"></i>
    <i class="ri-instagram-line"></i>
    <i class="ri-whatsapp-line"></i>
    <i class="ri-twitter-x-line"></i> 
    </div>
</div>
        </div>
    </div>
</section>

<section class="nav_bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"><p>Logo</p></div>
            <div class="col-lg-10">
                <div class="navigator">
                    <p>Home</p>
                    <p>About</p>
                    <p>Enevts</p>
                    <p>Price</p>
                    <p>Contact Us</p>
                </div>
            </div>
        </div>
    </div>
</section>