p {
    margin: 0px;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 80px;
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .navigator {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px !important;
}

}

.top_header {
    padding: 0px 0px;
    background-color: #7E0086;
}

.social {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;
}

.social i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.location {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.location p {
    margin: 0px;
    font-size: 12px;
    color: white;
}

.location i {
    color: white;
}

.nav_bar {
    padding: 10px 0px;
}

.navigator p {
    cursor: pointer;
    color: white;
}

.navigator p:hover {
    color: #ee00ff;
}

.naves {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.nav_bar img {
    width: 100px;
}

.call_button p{
    background: linear-gradient(0deg, rgba(183, 38, 255, 1) 0%, rgba(62, 14, 84, 1) 100%);
    text-align: center;
    border-radius: 20px;
    color: white;
    padding: 5px 15px;
    border: 2px solid #ffffff;
    cursor: pointer;
}
a{
       color: white;
}

.call_button p:hover {
    background: linear-gradient(0deg, rgba(62, 14, 84, 1) 0%, rgba(183, 38, 255, 1) 100%, );
}

.call_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_items i{
    color: white;
    font-size: 26px;
}

.mobile_view{
    width: 270px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    display: none;
}

.mobile_contents{
    padding: 20px 20px;
}

.mobile_ties p{
    color: #7E0086;
    font-size: 22px;
    margin: 0px;
}
.mobile_view_nav p{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #7d008610;
    padding-bottom: 20px;
}

.topes{
    margin-top: 40px;
}

.close{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color:#7d008610 ;
    border-radius: 50%;
}

.close i{
    color: #7E0086;
    font-size: 20px;
}

.mobile_ties{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_view_nav p:hover{
    color: #7E0086;
    cursor: pointer;
}