@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Revalia&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Revalia", sans-serif; */
/* font-family: "Barlow", sans-serif; */
/* font-family: "Roboto", sans-serif; */


body {
  overflow-x: hidden;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  color: #4C4C4C;
}

a {
  text-decoration: none !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}